In [98]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [99]:
%matplotlib qt

In [100]:
r = pd.read_csv('rama_2023_05_missing_outliers_limited.csv')
r.head()

,fecha,CO,NO,NO2,NOX,O3,PM10,PM25,SO2
0,2015-01-01,1.050696,22.765528,24.225155,46.987578,23.175150,105.573684,78.953405,11.554723
1,2015-01-02,0.807585,32.249608,21.554160,53.800628,17.268366,36.687845,15.449438,NaN
2,2015-01-03,0.640755,21.686916,19.394081,41.071651,15.486486,29.269022,12.915129,1.436937
3,2015-01-04,0.726940,24.606272,19.560976,NaN,17.329032,39.961538,16.838284,1.809061
4,2015-01-05,0.530815,11.443182,20.990260,32.439935,14.470588,31.855643,NaN,8.315789

In [101]:
r.set_index('fecha', inplace=True)

In [102]:
r.head()

,CO,NO,NO2,NOX,O3,PM10,PM25,SO2
fecha,,,,,,,,
2015-01-01,1.050696,22.765528,24.225155,46.987578,23.175150,105.573684,78.953405,11.554723
2015-01-02,0.807585,32.249608,21.554160,53.800628,17.268366,36.687845,15.449438,NaN
2015-01-03,0.640755,21.686916,19.394081,41.071651,15.486486,29.269022,12.915129,1.436937
2015-01-04,0.726940,24.606272,19.560976,NaN,17.329032,39.961538,16.838284,1.809061
2015-01-05,0.530815,11.443182,20.990260,32.439935,14.470588,31.855643,NaN,8.315789

In [103]:
#plt.plot(r.index,r["NOX"])

In [104]:
# Función para graficar series de tiempo con rango de fechas y zonas específicas
def plot_time_series(r, variables, ylabel, title, start_date=None, end_date=None):
    # Configurar el tamaño de la figura del gráfico
    plt.figure(figsize=(15, 5))
    
    # Si se proporcionan fechas de inicio y fin, filtrar el DataFrame para ese rango de fechas
    if start_date and end_date:
        r = r.loc[start_date:end_date]
    
    # Iterar sobre cada zona especificada en la lista de zonas
    for variable in variables:
        # Crear el nombre de la columna combinando la zona y la variable
        column = f"{variable}"
        
        # Verificar si la columna existe en el DataFrame
        if column in r.columns:
            # Graficar la serie de tiempo de la columna
            plt.plot(r.index, r[column], label=column)
        else:
            # Imprimir un mensaje si la columna no se encuentra en el DataFrame
            print(f"Columna {column} no encontrada en el DataFrame")
    
    # Etiqueta del eje x
    plt.xlabel('Fecha')
    # Etiqueta del eje y
    plt.ylabel(ylabel)
    # Título del gráfico
    plt.title(title)
    # Mostrar la leyenda del gráfico
    plt.legend()
    # Mostrar el gráfico
    plt.show()

## Series de tiempo

In [105]:
# Llamar a la función para graficar PM10 en las zonas específicas con el rango de fechas indicado
plot_time_series(r,['CO'], 'Cantidad CO', 'Series de Tiempo de CO', start_date='2015-01-01', end_date='2015-12-31')

In [106]:
plot_time_series(r,['NO'], 'Cantidad NO', 'Series de Tiempo de NO', start_date='2015-01-01', end_date='2015-12-31')

In [107]:
plot_time_series(r,['NO2'], 'Cantidad NO2', 'Series de Tiempo de NO2', start_date='2015-01-01', end_date='2015-12-31')

In [108]:
plot_time_series(r,['NOX'], 'Cantidad NOX', 'Series de Tiempo de NOX', start_date='2015-01-01', end_date='2015-12-31')

In [109]:
plot_time_series(r,['O3'], 'Cantidad O3', 'Series de Tiempo de O3', start_date='2015-01-01', end_date='2015-12-31')

In [110]:
plot_time_series(r,['PM10'], 'Cantidad PM10', 'Series de Tiempo de PM10', start_date='2015-01-01', end_date='2015-12-31')

In [111]:
plot_time_series(r,['PM25'], 'Cantidad PM25', 'Series de Tiempo de PM25', start_date='2015-01-01', end_date='2015-12-31')

In [112]:
plot_time_series(r,['SO2'], 'Cantidad SO2', 'Series de Tiempo de SO2', start_date='2015-01-01', end_date='2015-12-31')

In [113]:
#r.plot()

## Valores atipicos con Diagrama de Caja y bigotes

In [114]:
r.boxplot(column="CO")

In [115]:
r.boxplot(column="NO")

In [116]:
r.boxplot(column="NO2")

In [117]:
r.boxplot(column="NOX")

In [118]:
r.boxplot(column="O3")

In [119]:
r.boxplot(column="PM10")

In [120]:
r.boxplot(column="PM25")

In [121]:
r.boxplot(column="SO2")

## Manejo de datos atipicos

In [122]:
Q1 = r["CO"].quantile(0.25)
Q3 = r["CO"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-0.08089470090070511
1.0107079710068283

In [123]:
Q1 = r["NO"].quantile(0.25)
Q3 = r["NO"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-8.917274816874642
36.38480134096411

In [124]:
Q1 = r["NO2"].quantile(0.25)
Q3 = r["NO2"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

5.202670371312973
39.726217144190244

In [125]:
Q1 = r["NOX"].quantile(0.25)
Q3 = r["NOX"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-2.633559483117434
76.41228600160113

In [58]:
Q1 = r["O3"].quantile(0.25)
Q3 = r["O3"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

5.559395728944619
54.49971493481195

In [126]:
Q1 = r["PM10"].quantile(0.25)
Q3 = r["PM10"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-5.509170550050008
87.96178242687199

In [127]:
Q1 = r["PM25"].quantile(0.25)
Q3 = r["PM25"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-1.041345510192011
42.55665915796706

In [128]:
Q1 = r["SO2"].quantile(0.25)
Q3 = r["SO2"].quantile(0.75)

IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR

print(limite_inferior)

limite_superior = Q3 + 1.5 * IQR

print(limite_superior)

-2.6786859460238768
8.632066083884574

In [ ]:
CO > 1.1
NO > 36.4
NO2 > 39.73
NOX > 76.41
O3 > 60
PM10 > 107
PM25 > 42.55
SO2 > 12

In [130]:
r.loc[r["CO"] > 1.1, "CO"] = np.nan
r["CO"]

fecha
2015-01-01    1.050696
2015-01-02    0.807585
2015-01-03    0.640755
2015-01-04    0.726940
2015-01-05    0.530815
                ...
2023-05-27    0.256722
2023-05-28    0.286826
2023-05-29    0.482077
2023-05-30    0.441455
2023-05-31    0.340404
Name: CO, Length: 3073, dtype: float64

In [131]:
r.loc[r["NO"] > 36.4, "NO"] = np.nan
r["NO"]

fecha
2015-01-01    22.765528
2015-01-02    32.249608
2015-01-03    21.686916
2015-01-04    24.606272
2015-01-05    11.443182
                ...
2023-05-27     3.750583
2023-05-28          NaN
2023-05-29    11.448113
2023-05-30    13.893519
2023-05-31     5.353066
Name: NO, Length: 3073, dtype: float64

In [132]:
r.loc[r["NO2"] > 39.73, "NO2"] = np.nan
r["NO2"]

fecha
2015-01-01    24.225155
2015-01-02    21.554160
2015-01-03    19.394081
2015-01-04    19.560976
2015-01-05    20.990260
                ...
2023-05-27    17.284351
2023-05-28    16.349241
2023-05-29    24.521154
2023-05-30    22.615530
2023-05-31          NaN
Name: NO2, Length: 3073, dtype: float64

In [133]:
r.loc[r["NOX"] > 76.41, "NOX"] = np.nan
r["NOX"]

fecha
2015-01-01    46.987578
2015-01-02    53.800628
2015-01-03    41.071651
2015-01-04          NaN
2015-01-05    32.439935
                ...
2023-05-27    21.629371
2023-05-28    20.230769
2023-05-29    36.436321
2023-05-30    37.224537
2023-05-31    25.710359
Name: NOX, Length: 3073, dtype: float64

In [134]:
r.loc[r["O3"] > 60, "O3"] = np.nan
r["O3"]

fecha
2015-01-01    23.175150
2015-01-02    17.268366
2015-01-03    15.486486
2015-01-04    17.329032
2015-01-05    14.470588
                ...
2023-05-27    41.580645
2023-05-28    36.913761
2023-05-29    29.697068
2023-05-30    36.185971
2023-05-31          NaN
Name: O3, Length: 3073, dtype: float64

In [135]:
r.loc[r["PM10"] > 107, "PM10"] = np.nan
r["PM10"]

fecha
2015-01-01    105.573684
2015-01-02     36.687845
2015-01-03     29.269022
2015-01-04     39.961538
2015-01-05     31.855643
                 ...
2023-05-27           NaN
2023-05-28     28.580000
2023-05-29     30.241486
2023-05-30     35.859532
2023-05-31     42.203390
Name: PM10, Length: 3073, dtype: float64

In [136]:
r.loc[r["PM25"] > 90, "PM25"] = np.nan
r["PM25"]

fecha
2015-01-01    78.953405
2015-01-02    15.449438
2015-01-03    12.915129
2015-01-04    16.838284
2015-01-05          NaN
                ...
2023-05-27    21.170139
2023-05-28    18.454861
2023-05-29    16.692857
2023-05-30    20.888525
2023-05-31    24.787097
Name: PM25, Length: 3073, dtype: float64

In [137]:
r.loc[r["SO2"] > 12, "SO2"] = np.nan
r["SO2"]

fecha
2015-01-01    11.554723
2015-01-02          NaN
2015-01-03     1.436937
2015-01-04     1.809061
2015-01-05     8.315789
                ...
2023-05-27     2.735683
2023-05-28     2.331658
2023-05-29     1.071588
2023-05-30     1.181818
2023-05-31     1.402083
Name: SO2, Length: 3073, dtype: float64

### Imputación de valores nulos

In [138]:
r.isnull().sum()

CO      190
NO      233
NO2     214
NOX     190
O3      162
PM10    152
PM25    150
SO2     252
dtype: int64

In [139]:
msno.matrix(r)

In [141]:
# Filtrar el DataFrame para obtener las columnas 'CE-CO' y 'CE-PM10' en el rango de fechas especificado
r_impute = r[['CO', 'NO', 'NO2', 'NOX', 'O3', 'PM10', 'PM25', 'SO2']].loc['2015-01-01':'2023-05-31']

# Contar y mostrar el número de valores nulos en cada columna del DataFrame filtrado
print("\nNúmero de valores nulos antes de la imputación:")
print(r_impute.isnull().sum())

# Aplicar el promedio móvil para llenar los valores nulos en el DataFrame
r_impute.loc[:, :] = r_impute.fillna(r_impute.rolling(window=12, min_periods=1).mean())

# Mostrar las primeras filas del DataFrame después de la imputación y adición de columnas
print("\nPrimeras filas del DataFrame después del promedio móvil y adición de columnas:")
print(r_impute.head())

# Contar y mostrar el número de valores nulos después del promedio móvil
print("\nNúmero de valores nulos después del promedio móvil:")
print(r_impute.isnull().sum())

# Graficar las series de tiempo de 'CE-CO' y 'CE-PM10' después del promedio móvil
plt.figure(figsize=(12, 6))
r_impute[['CO', 'NO', 'NO2', 'NOX', 'O3', 'PM10', 'PM25', 'SO2']].loc['2015-01-01':'2023-05-31'].plot(ax=plt.gca())
plt.title('Series de Tiempo de CE-CO y CE-PM10 (Después del Promedio Móvil)')
plt.xlabel('Fecha')
plt.ylabel('Concentración')
plt.show()

Número de valores nulos antes de la imputación:
CO      190
NO      233
NO2     214
NOX     190
O3      162
PM10    152
PM25    150
SO2     252
dtype: int64

Primeras filas del DataFrame después del promedio móvil y adición de columnas:
                  CO         NO        NO2        NOX         O3        PM10  \
fecha
2015-01-01  1.050696  22.765528  24.225155  46.987578  23.175150  105.573684
2015-01-02  0.807585  32.249608  21.554160  53.800628  17.268366   36.687845
2015-01-03  0.640755  21.686916  19.394081  41.071651  15.486486   29.269022
2015-01-04  0.726940  24.606272  19.560976  47.286619  17.329032   39.961538
2015-01-05  0.530815  11.443182  20.990260  32.439935  14.470588   31.855643

                 PM25        SO2
fecha
2015-01-01  78.953405  11.554723
2015-01-02  15.449438  11.554723
2015-01-03  12.915129   1.436937
2015-01-04  16.838284   1.809061
2015-01-05  31.039064   8.315789

Número de valores nulos después del promedio móvil:
CO      0
NO      0
NO2     0
NOX     0
O3      0
PM10    0
PM25    0
SO2     0
dtype: int64

In [142]:
r_impute.isnull().sum()

CO      0
NO      0
NO2     0
NOX     0
O3      0
PM10    0
PM25    0
SO2     0
dtype: int64

In [143]:
r_impute.describe()

,CO,NO,NO2,NOX,O3,PM10,PM25,SO2
count,3073.000000,3073.000000,3073.000000,3073.000000,3073.000000,3073.000000,3073.000000,3073.000000
mean,0.477670,14.215250,22.740125,37.520944,30.427253,41.844646,21.301206,3.267435
std,0.192706,7.586843,6.063086,13.439874,8.826064,15.686033,8.731267,2.305214
min,0.115917,1.168000,8.061630,9.983402,3.226054,8.218487,2.849315,0.630435
25%,0.326431,8.122622,18.270876,27.169118,24.009105,29.569343,15.359801,1.588542
50%,0.443210,12.756623,22.421517,35.827511,29.856667,40.237410,20.532578,2.534188
75%,0.598447,19.119231,26.753846,46.372320,36.077236,52.708716,26.181818,4.208333
max,1.099068,36.159420,39.633681,76.011594,58.091922,105.573684,86.909910,11.978131

In [144]:
#r_impute.to_csv('Agentes_contaminantes_corregido.csv', index=False)